.logo {
  padding-top: 2rem;
  padding-left: 3rem;
  cursor: pointer;
}

.userContent {
  padding: 3rem 5rem 5rem;
  position: revert;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  max-height: 530px;
  overflow: hidden;
}

.userHeader {
  padding-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.completedTests {
  margin-bottom: 2rem;
}

.tests {
  padding-bottom: 2rem;
  max-height: 8rem;
  overflow: auto;
}

.created{
  padding-bottom: 0rem;
}

.users-results-mode .tests{
  padding-bottom: 2rem;
  padding-top: 2rem;
  max-height: 30vh;
  overflow: auto;
}

.test, .test-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem;
  border: #333333 solid 1px;
  border-radius: 1rem;
  margin-top: 0.5rem;
  color: var(--text-color);
}

.test-add{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.test-link{
  cursor: pointer;

}

.icons i {
  margin-left: 1rem;
  cursor: pointer;
}

.test:hover, .test-add:hover {
  background: var(--container-color);
}

.testData{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.testStatistics {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.resultsList{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.user-answers{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}


.testData {
  transform: translateX(0%);
  transition: .5s;
  opacity: 1;
}

.testStatistics {
  transform: translateX(100%);
  transition: .5s;
  opacity: 0;
}

.resultsList{
  transform: translateX(200%);
  transition: .5s;
  opacity: 0;
}

.user-answers{
  transform: translateX(300%);
  transition: .5s;
  opacity: 0;
}


.userContent.statistics-mode .testData{
  transform: translateX(-100%);
  opacity: 0;
}

.userContent.statistics-mode .testStatistics {
 transform: translateX(0%);
  opacity: 1;
}

.userContent.statistics-mode .resultsList{
  transform: translateX(100%);
  opacity: 0;
}

.userContent.statistics-mode  .user-answers{
  transform: translateX(200%);
  opacity: 0;
}


.userContent.users-results-mode .testData{
  transform: translateX(-200%);
  opacity: 0;
}

.userContent.users-results-mode .testStatistics {
  transform: translateX(-100%);
  opacity: 0;
}

.userContent.users-results-mode .resultsList{
  transform: translateX(0%);
  opacity: 1;
}

.userContent.users-results-mode  .user-answers{
  transform: translateX(100%);
  opacity: 0;
}



.userContent.users-answers-mode .testData{
  transform: translateX(-300%);
  opacity: 0;
}

.userContent.users-answers-mode .testStatistics {
  transform: translateX(-200%);
  opacity: 0;
}

.userContent.users-answers-mode .resultsList{
  transform: translateX(-100%);
  opacity: 0;
}

.userContent.users-answers-mode  .user-answers{
  transform: translateX(0%);
  opacity: 1;
}


.answer-options{
  max-height: 20rem;
  overflow: auto;
}

.possible-results{
  max-height: 10rem;
  overflow: auto;
  margin-bottom: 2rem;
}


.questions{
  max-height: 10rem;
  overflow: auto;
}

.user-answers_question{
  margin-top: 2rem
}

.answer-option{
  display: flex;
  flex-direction: row;
}

.answers-wrap{
  margin-bottom: 2rem;
}

.back-button{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

