<div class="logo" routerLink="/">
  <i class='bx bxs-brain'></i>
  <h3>Mental</h3>
</div>

<div class="userContent" #userContent>

  <div class="testData">

    <div class="userHeader">
      <div class="userData">
        <h2>Привіт, {{ user.name }}</h2>
        <p>{{ user.email }}</p>
      </div>
      <button class="button" (click)="logOut()">Вийти з аккаунту</button>
    </div>


    <div class="completedTests">
      <h3>Пройдені тести: </h3>
      <div class="tests">
        <div class="test" *ngFor="let test of completedTestsData">
          <p class="test-link" [routerLink]="['/result', test.resultId]">{{ test.test }}</p>
          <p>{{ test.date }}</p>
        </div>
      </div>
    </div>

    <div class="createdTests" *ngIf="isPsychologist || isAdmin">
      <h3>Створені тести: </h3>
      <div class="tests created">
        <div class="test" *ngFor="let testData of createdTestsData">
          <p class="">{{ testData.test.name }}</p>
          <div class="icons">
            <i class='bx bxs-user-detail' (click)="showUserTestResultsList(testData.test._id, testData.test.name)"></i>
            <i class='bx bx-stats' (click)="showStatistics(testData.test._id)"></i>
            <i class='bx bx-edit' routerLink="/test/edit/{{testData.test._id}}"></i>
            <i class='bx bx-trash' (click)="deleteTest(testData.test._id)"></i>
          </div>
        </div>
      </div>
      <div class="test-add" routerLink = "/test/new"> <i class='bx bx-list-plus'></i></div>
    </div>

  </div>

  <div class="testStatistics">
    <div *ngIf="showTestStatistics">
      <h2>Статистика тесту "{{ selectedTestName }}"</h2>

      <div class="possible-results" *ngIf="testResults.length > 0">
        <h3>Можливі результати:</h3>
        <div class="possible-result" *ngFor="let result of testResults">
          {{ result.name }} - {{ result.frequency }} ({{ result.percent.toFixed(2) }}%)
        </div>
      </div>

      <div class="questions">
        <h3>Питання:</h3>
        <div class="answer-options" *ngFor="let question of testQuestions">
          <h4>{{ question.name }}</h4>

          <div class="answer-option" *ngFor="let option of question.answerOptions">
            {{ option.name }} - {{ option.frequency }} ({{ option.percent.toFixed(2) }}%)
          </div>

          <br>
        </div>
      </div>
    </div>
    <button class="button" (click)="backFromStatistics()">Назад</button>
  </div>

  <div class="resultsList">
    <div *ngIf="showResultsList">
      <h2>Проходження тесту "{{ selectedTestName }}":</h2>
      <div class="tests">
        <div class="test" *ngFor="let result of resultsList">
          <p class="test-link"
             (click)="showUserAnswers(
             result.testId, result.answers, selectedTestName,
             {name: result.name, email: result.email} ,
             result.date)">
            {{ result.name }} {{ result.email }}
          </p>
          <p>{{ result.date }}</p>
        </div>
      </div>
    </div>
    <button class="button" (click)="backFromResults()">Назад</button>
  </div>

  <div class="user-answers">
    <div class="answers-wrap" *ngIf="selectedResult">
      <h2>Результьати тестування:</h2>
      <p>Користувач: {{ selectedResult.user.name }}/{{ selectedResult.user.email }}.
        Тест: {{ selectedResult.testName }}</p>
      <div class="user-answers_question" *ngFor="let question of selectedResult.processedQuestions">
        <h4 class="question-text">{{ question.text }}</h4>
        <div class="answer-option" *ngFor="let answerOption of question.answerOptions">
          <p>{{ answerOption.text }}</p>
          <i class='bx bx-check-square' *ngIf="resultAnswers.includes(answerOption.id)"></i>
        </div>
      </div>
    </div>
    <button class="button" (click)="backFromAnswers()">Назад</button>
  </div>
</div>

<div class="back-button">
  <button class="button" routerLink="/"><i class='bx bx-home-alt-2' ></i></button>
  <button class="button" *ngIf="isAdmin" routerLink="/admin"><i class='bx bxs-user-circle'></i></button>
</div>

