.progress{
  transition: .4s;
  justify-content: center;
  text-align: center;
}

.question__image{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  padding-top: 2rem;

}

.question__image img{
  max-height: 350px;
  border-radius: 24px;
}

.option__image{
  margin-top: 1.5rem;
  height: 200px;
}

.option__image img{
  height: 190px;
  border-radius: 24px;
}

.text-field{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-answer-input{
  width: 80%;
  height: 5vh;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.2rem;
  border: var(--first-color) 1px solid;

}

.loader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader i {
  zoom: 3
}

@media screen and (min-width: 767px) {
  .home__container {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
    column-gap: 2rem;
  }
}
