<main class="main">
  <!--==================== HOME ====================-->
  <section class="home section test-form" id="home">
    <div class="home__container container grid">

      <div class="home__images">

        <div class="home__img">
          <img [src]="imagePreview" *ngIf="imagePreview" alt="">
        </div>

      </div>

      <div class="home__data">
        <div class="form-warp">

          <h1 class="test-form-header">
            {{ isNew ? 'Створення' : 'Редагування' }} тесту:
          </h1>

          <form action="/" autocomplete="off" class="create-test-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="name input-warp">
              <input
                formControlName="name"
                type="text"
                class="input-field"
                placeholder=" "
                id="test-title"
                [ngClass]="{'invalid' : form.get('name')?.invalid && form.get('name')?.touched}"
              />
              <label>Назва тесту</label>
              <div *ngIf="form.get('name')?.errors?.['required'] && form.get('name')?.touched"
                   class="error-message-name">Поле обов'язкове для заповнення
              </div>
            </div>

            <div class="brief input-warp">
              <input
                formControlName="brief"
                type="text"
                class="input-field"
                placeholder=" "
                id="test-brief"
                [ngClass]="{'invalid' : form.get('brief')?.invalid && form.get('brief')?.touched}"
              />
              <label>Короткий опис</label>
              <div *ngIf="form.get('brief')?.errors?.['required'] && form.get('brief')?.touched"
                   class="error-message-name">Поле обов'язкове для заповнення
              </div>
            </div>

            <div class="description input-warp">
               <textarea
                 formControlName="description"
                 class="input-field"
                 placeholder=" "
                 id="test-description"
                 [ngClass]="{'invalid' : form.get('description')?.invalid && form.get('description')?.touched}"
               ></textarea>
              <label>Детальний опис</label>
              <div *ngIf="form.get('description')?.errors?.['required'] && form.get('description')?.touched"
                   class="error-message-description">Поле обов'язкове для заповнення
              </div>
            </div>

            <div class="processingChoice" *ngIf="isNew">
              <h3>Оберіть тип обробки результатів</h3>
              <div class="types">

                <div class="type" (click)="this.processingType = 'one'"
                     [ngClass]="{ 'selected': processingType === 'one' }">
                  <p>Загальний лічильник</p>
                  <button class="infoBtn" type="button" (click)="processingInfo('one')"><i
                    class='bx bx-info-circle'></i></button>
                </div>

                <div class="type" (click)="processingType = 'many'"
                     [ngClass]="{ 'selected': processingType === 'many' }">
                  <p>Окремі лічильники</p>
                  <button class="infoBtn" type="button" (click)="processingInfo('many')"><i
                    class='bx bx-info-circle'></i></button>
                </div>

                <div class="type" (click)="processingType = 'self'"
                     [ngClass]="{ 'selected': processingType === 'self' }">
                  <p>Самостійно</p>
                  <button class="infoBtn" type="button" (click)="processingInfo('self')"><i
                    class='bx bx-info-circle'></i></button>
                </div>

              </div>
            </div>

            <div class="image input-warp">
              <input type="file" accept="image/*" class="image-input" (change)="onFileUpload($event)" #imageInput>
              <button type="button" (click)="triggerClick()" class="imageBtn" [disabled]="form.disabled">Додати
                картинку
              </button>
            </div>

            <div class="home__button">
              <button type="submit"
                      class="button"
                      [disabled]="form.invalid || form.disabled"
              > {{ isNew ? 'Створити' : 'Зберегти зміни' }}
              </button>

              <button *ngIf="!isNew" class="button delete-btn" type="button" (click)="deleteTest()">Видалити</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </section>

  <app-possible-result-form
    *ngIf="test && this.processingType !='self'"
    [testId]="test._id"
    [processingType]="processingType">
  </app-possible-result-form>

  <app-questions-form
    *ngIf="test"
    [testId]="test._id"
    [processingType]="processingType">
  </app-questions-form>


</main>
